body {
    font-size: 300%;
    text-align: center;
    background-image:url(images/Fond.png);
}

a {
    text-decoration: none;
    color: black;
}

li {
    font-size: 100%;
    font-weight: bold;
}