h1 {
color: #DC143C;
}

body {
    text-align: center;

background-color: grey;
color: #8B0000;
margin: 0px;
padding: 0px;
font-size: 150%;
font-family: URW Chancery L, cursive;
}

}
a.hover {
    font-size: 100%;
    color: white);
}

.haut {
    background-color: black;
    color: #8B0000;
    border-color: #8B0000;
    float: center;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
    font-size: 150%;
    text-align: left;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
	color:#DC143C;
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}
